{% load static %}

<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Каталог товаров</title>
    <link rel="stylesheet" href="{% static 'css/product_list.css' %}">
</head>
<body>
    <div class="container">
        <h1>Каталог товаров</h1>
        <div class="product-list">
            {% for product in products %}
                <div class="product-item">
                    <img src="{% static 'product_images/'|add:product.image.name %}" alt="{{ product.name }}">
                    <h2>{{ product.name }}</h2>
                    <p>Цена: {{ product.price }} руб.</p>
                    <p><a href="#">Подробнее</a></p>
                </div>
            {% endfor %}
        </div>
    </div>
    <script src="{% static 'js/product_list.js' %}"></script>
</body>
</html>
